@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin: 0 30px 0 70px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 480px;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: end;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  outline: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-current::before {
  position: absolute;
  right: 18px;
  left: 18px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.button-catalog {
  width: 130px;
  margin-left: 15px;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-catalog:hover {
  color: #ffffff;
  background-color: #615048;
}

.button-catalog:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

/*Блок Main Index.html*/

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  background-image: url("/images/index-background.jpg");
  background-color: #ffffff;
  color: #333333;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.index-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 146px;
}

.main-title {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 31px auto;
}

/*Список преимуществ*/

.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  display: flex;
}

.advantages-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  margin: 98px 0 29px 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.title-list {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-number {
  display: block;
  margin-bottom: 30px;
}

.white-text {
  color: #ffffff;
}

.advantages-description-container {
  width: 220px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
}

.advantages-description {
  width: 250px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
}

.title-list + .advantages-description {
  margin-bottom: 79px;
}

.advantages-number + .advantages-description {
  margin-bottom: 108px;
}

.hotel-logo {
  margin-top: 89px;
  margin-bottom: 23px;
}

.food-logo {
  margin-top: 91px;
  margin-bottom: 23px;
}

.souvenir-logo {
  margin-top: 85px;
  margin-bottom: 23px;
}

.advantages-item-navy {
  width: 400px;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
}

.advantages-item-white {
  background-color: #ffffff;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Заинтересовались?*/

.search-hotel {
  padding-top: 91px;
  text-align: center;
}

.search-title {
  display: block;
  margin-bottom: 29px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description,
.email-description {
  font-size: 22px;
  line-height: 26px;
}

.search-description {
  margin-top: 0;
  margin-bottom: 56px;
}

.button {
  display: inline-block;
  background-color: #756257;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.search-hotel-button {
  display: block;
  width: 575px;
  padding: 15px 0;
  margin: 0 auto 93px auto;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.search-hotel-button:hover {
  background-color: #615048;
}

.search-hotel-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

/*Подпишись на рассылку*/

.email-index {
  padding: 94px 0;
  text-align: center;
  color: #ffffff;
  background-image: url(/images/email-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.email-index-title {
  margin: 0 0 29px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.email-description {
  padding: 0;
  margin-bottom: 46px;
}

.email-form {
  display: grid;
  grid-template-columns: 600px 200px;
  justify-content: center;
}

.email-input {
  padding: 20px 22px;
  width: 600px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: 0;
  font: inherit;
}

.email-input:hover {
  background-color: #e6e6e6;
}

.email-input:active {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.email-input:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.email-button {
  width: 200px;
  padding: 16px 0 15px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0 10px 10px 0;
}

.email-button:hover {
  background-color: #68a2ca;
}

.email-button:focus {
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

/*Подвал*/

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-social-logo {
  display: block;
  fill: #83b3d3;
}

.footer-social-logo:hover {
  fill: #68a2ca;
}

.footer-social-logo:focus {
  color: #68a2ca;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 5px;
  outline: none;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.contacts-phone {
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.footer-link-htmlacademy {
  margin: 0;
  padding: 0;
}

.footer-logo-htmlacademy {
  margin: 0;
  fill: #000000;
}

.footer-logo-htmlacademy:hover {
  fill: #756257;
}

.footer-logo-htmlacademy:focus {
  fill: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border: none;
  background-image: url(/images/logo/logo-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  margin: 0;
  margin-bottom: 70px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  justify-content: space-between;
}

.modal-description {
  line-height: 40px;
  font-weight: 700;
}

.input-form-field {
  width: 420px;
  padding: 15px 19px;
  padding-right: 49px;
  background-color: #f2f2f2;
  border-radius: 4px;
  appearance: none;
  border: none;
}

.input-form-field:hover {
  background-color: #e6e6e6;
}

.input-form-field:focus {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.input-form-field + span {
  display: block;
}

.input-hint {
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 40px;
}

.warning {
  color: #ff5757;
}

.field-group-container {
  display: grid;
  grid-template-columns: 155px 133px 154px 133px;
  align-items: center;
  margin-bottom: 40px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.math-sign-button {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 0;
}

.math-sign-button:first-child {
  margin-left: 13px;
}

.math-sign-button:last-child {
  margin-right: 13px;
}

.math-sign-button:hover .math-sign-image {
  opacity: 1;
}

.math-sign-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
  opacity: 1;
}

.math-sign-button:focus .math-sign-image {
  opacity: 1;
}

.math-sign-image {
  display: block;
  margin: auto;
  opacity: 0.3;
}

.children {
  position: relative;
  padding-left: 56px;
}

.number {
  width: 33px;
  font-size: 18px;
  padding: 14px 0;
  text-align: center;
  font: inherit;
  font-weight: 700;
  background-color: transparent;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-modal {
  width: 575px;
  padding: 19px 0;
  background-color: #83b3d3;
  text-align: center;
}

.button-modal:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756257;
}

.button-modal:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  left: 110px;
}

.tooltip-toggle {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.tooltip-icon {
  fill: #83b3d3;
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68a2ca;
}

.tooltip-toggle:focus .tooltip-icon {
  outline: none;
}

.i {
  position: absolute;
  fill: #ffffff;
  top: 10px;
  left: 12px;
}

.tooltip-text {
  position: relative;
  width: 256px;
  display: inline-block;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #ffffff;
  background-color: #333333;
  text-transform: none;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* display: none; */
}

/* .tooltip-text::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #7db54f;
  background-image: url(/images/tooltip-trinagle.svg);
  background-repeat: no-repeat;
  z-index: 2;
} */

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

/* .modal-container-close {
  display: none;
} */

/*catalog.html*/

.main-inner {
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-filter {
  padding: 35px 71px 83px;
  background-image: url(/images/catalog-background.jpg);
  background-color: #000000;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 0 5px 0;
  font-size: 60px;
  line-height: 65px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-home-image {
  fill: #ffffff;
}

.breadcrumbs-item {
  margin-right: 12px;
  position: relative;
  left: -4px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 11px;
  left: 30px;
  width: 5px;
  height: 8px;
  background-image: url(/images/icon/icon-arrow-right.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  padding: 2px 7px 3px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

/*Фильтр*/

.catalog-filter {
  display: flex;
  align-items: center;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3) {
  margin-left: auto;
  margin-right: 81px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 67px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 42px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:focus .control-mark {
  opacity: 0.6;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(/images/icon/icon-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:focus + .control-mark {
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 1;
}

.control-input[type="radio"]:focus + .control-mark {
  box-shadow: inset 0 0 0 3px #83b3d3;
  opacity: 1;
}

.control-input[type="radio"]:hover + .control-mark {
  opacity: 1;
}

/* Range */

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: 143.5px 143.5px;
}

.range-input {
  position: relative;
  width: 143.5px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  font: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  appearance: textfield;
}

.min-range-input {
  border-radius: 4px 0 0 4px;
}

.max-range-input {
  border-radius: 0 4px 4px 0;
  left: -2px;
  z-index: 2;
}

.range-input:hover {
  border: 2px solid rgba(242, 242, 242, 0.6);
}

.range-input:focus {
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
  outline: none;
}

.range-input + span {
  position: absolute;
  top: 13px;
  right: 15px;
  opacity: 0.3;
}

.range-wrapper-inputs {
  margin-bottom: 32px;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/*Кнопки фильтра*/

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.button-submit {
  width: 160px;
  padding: 14px 0 13px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21px;
  background-color: #83b3d3;
}

.button-submit:hover {
  background-color: #68a2ca;
}

.button-submit:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #ffffff;
  outline: none;
}

.button-reset {
  width: 100px;
  padding: 5px 0;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: 0;
  font-weight: normal;
  text-transform: none;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

/*Режим отображения*/

.select-container {
  display: flex;
  padding: 44px 71px 0 71px;
  margin-bottom: 53px;
}

.select-results {
  margin: 0;
  margin-right: 192px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type {
  position: relative;
  width: 287px;
}

.select-control {
  width: 100%;
  margin-left: auto;
  padding: 12px 19px;
  padding-right: 49px;
  font: inherit;
  border: 2px solid #e6e6e6;
  background-image: url(/images/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.select-control:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.mode-container {
  margin-left: auto;
}

.button-mode {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px 14px;
  margin-right: 8px;
}

.button-mode:last-child {
  margin-right: 0;
}

.button-mode-selected {
  border: 2px solid #000000;
}

.button-mode:hover {
  border-color: #83b3d3;
}

.button-mode:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.icon-mode {
  fill: #000000;
}

/*Каталог отелей*/

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0 72px;
  list-style-type: none;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 26px;
  margin-bottom: 16px;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 16px;
}

.button-more {
  width: 133px;
  padding: 8px 0 7px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-favorite {
  width: 140px;
  padding: 8px 0 7px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  background-color: #83b3d3;
}

.button-favorite:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.button-favorite:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button-favorite-pushed {
  width: 140px;
  padding: 8px 0 7px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  background-color: #7db54f;
}

.button-favorite-pushed:hover {
  background-color: #6c9e42;
}

.button-favorite-pushed:focus {
  background-color: #6c9e42;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.hotel-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-star:not(:last-child) {
  margin-right: 7px;
}

.text-style-rating {
  width: 160px;
  padding: 8px 0 7px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

/*Пагинация*/

.button-more-wrapper {
  width: 1055px;
  margin: 0 72px 30px;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-show-more {
  width: 619px;
  display: block;
  padding: 17px 0;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  margin: 0 auto;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
}

.pagination-show-more:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  padding: 30px 72px;
  margin-bottom: 43px;
}

.pagination {
  margin: 0;
  margin-right: 300px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item {
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.text-amount {
  margin-right: 51px;
}

.select-control-number {
  margin-left: auto;
  padding: 13px 97px 13px 17px;
  border-color: #e6e6e6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
}

.select-control-number:hover {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.select-control-number:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.email-catalog {
  text-align: center;
  padding-bottom: 141px;
}

.email-title-catalog {
  margin: 0;
  margin-bottom: 46px;
  text-transform: uppercase;
}
